<%- include("header") -%>

<div class="box" id="heading">

	<h1 style="color:green">It's a <%=kindofDay%></h1>
</div>

<div class="box">




	<%newitem.forEach(function(item){%>
	<form action="/delete" method="post">
		<div class="item">
			<input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
			<p><%=item.name%></p></div>
			<input type="hidden" name="listName" value="<%=kindofDay%>"></input>
		</form>

		<%})%>


		<form action="/" method="post">
			<input type="text" name="newitem" placeholder="new item" autocomplete="off">

			<button type="submit" name="list" value="<%=kindofDay%>">+</button> 
		</form>
	</div>
</body>
<%- include("footer") -%>
</html>